@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@theme/teal.css";

/* Utility styles */
html {
    scroll-behavior: smooth;
  }
  
  /* Keyframes for animations */
  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 80%);
      right: 160px;
    }
  }
  
  @layer components {
      .bg-background {
        background-color: hsl(var(--background));
      }
      .text-foreground {
        color: hsl(var(--foreground));
      }
      .border-border {
        border-color: hsl(var(--border));
      }
  }  
  
  /* Other utilities */
  

/* Global styles */
@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground font-sans;
    }
}

.dotted-background {
background: radial-gradient(circle, rgba(247, 247, 247, 1) 1px, transparent 2px),
            radial-gradient(circle, rgba(247, 247, 247, 1) 1px, transparent 2px);
background-position: 0 0, 5px 5px;
background-size: 10px 10px;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}

  